:root {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #242424;
  color-scheme: light dark;
  font-family: 'Roboto', sans-serif;
  font-synthesis: none;
  font-weight: 400;
  height: 100vh;
  line-height: 1.5;
  margin: 0;
  text-rendering: optimizeLegibility;
  width: 100vw;
}

body, html, #root {
  height: 100%;
  margin: 0;
  width: 100%;
}
